name: CI
on:
  pull_request:

env:
  ENABLE_CI: ${{ vars.ENABLE_CI || 'true' }}

jobs:
  build:
    if: ${{ env.ENABLE_CI != 'false' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node and PNPM
        uses: ./.github/actions/setup-node-pnpm
        with:
          node-version: '22'
          pnpm-version: '9'
      - run: pnpm install --frozen-lockfile=false
      - run: pnpm run typecheck
      - run: pnpm run lint
      - run: pnpm run format:check || pnpm run format

