# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Secrets Scan
on:
  pull_request:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: zricethezav/gitleaks-action@v2
        with:
          config-path: .gitleaks.toml
          fail: true
      - name: Report run
        uses: ./.github/actions/report-run
        with:
          job: Secrets-Scan

